
.service-station-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__img{
        width: 5rem;
        margin-bottom: -1rem;
    }
}

.queue-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #053e75;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    &__customers-box{
        text-align: center;
        align-self: center;
        &__count{
            font-size: 3rem;
            color: #fff;
            margin-top: 2rem;
        }
    }
}

.customer-in-an{
    animation: customer-in 5s linear infinite;
    border: 5px dashed #053e75;;
}
.fix-an{
    animation: fix 5s linear infinite;
}

@keyframes customer-in{
    from {transform:  rotate(0);}
    to   {transform:  rotate(360deg);}
}
@keyframes fix{
    from {transform:  rotate(0);}
    to   {transform:  rotate(-360deg);}
}