.products-list{
    display: flex;
    justify-content: start;
    &__item{
        color: #fff;
        font-size: 1.2rem;
    }
}
.products-box{
    display: flex;
    justify-content: space-between;
    &__product-img{
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
    }
}
ul{
    padding: 0;
}
.done{
    opacity: 100;
}
.undone{
    opacity: 0;
}