.products-box{
    display: flex;
    justify-content: space-between;
}
.product-img{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
}

.products-list{
    display: flex;
    justify-content: start;
    &__item{
        color: #fff;
        font-size: 1.2rem;
    }
}
ul{
    padding: 0;
}

.done{
    opacity: 100;
}
.undone{
    opacity: 0;
}