<div class="orders-container">
    <div class="orders-container__title">
        <h1>{{!isDelievery ? 'Orders' : 'Delievery'}}</h1>
    </div>
        <div *ngIf="!isDelievery" class="orders-container__orders" [@listAnimation]="signalRService.ordersToPrepareData.length">
            <div *ngFor="let order of signalRService.ordersToPrepareData; trackBy: trackOrder">
                <app-order [order]="order"></app-order>
            </div>
        </div>
    <div *ngIf="isDelievery" class="orders-container__orders" [@listAnimation]="signalRService.ordersToDelieveryData.length">
        <div *ngFor="let order of signalRService.ordersToDelieveryData ; trackBy: trackOrder">
            <app-order class="ng-animate-disabled" [order]="order"></app-order>
        </div>
    </div>
</div>