<div class="orders-container">
    <div class="orders-container__title">
        <h1>{{!isDelievery ? 'Orders' : 'Delievery'}}</h1>
    </div>
    <div *ngIf="!isDelievery" class="orders-container__orders">
        <div *ngFor="let order of signalRService.ordersToPrepareData">
            <app-order [order]="order"></app-order>
        </div>
    </div>
    <div *ngIf="isDelievery" class="orders-container__orders">
        <div *ngFor="let order of signalRService.ordersToDelieveryData">
            <app-order [order]="order"></app-order>
        </div>
    </div>
</div>