<div class="order-box">
  <h2>Order id: {{order.id}}</h2>
  <app-products-list [products]="order.products" class="ng-animate-disabled"></app-products-list>
  <p class="order-box__failed-message" *ngIf="order.isFailed">Failed!!!</p>
  <div *ngIf="order.isDelievery" class="time-box">
      <div class="time-box__box">
        <p class="time-box__text">Estimated time: {{order.estimatedTime | date: 'mediumTime'}}</p>
      </div>
  </div>
  <div *ngIf="order.delieveryFailed">
    <p style="color: green;">Reproduced</p>
</div>
</div>

