<div>
    <div>
        <app-header (openSettings)="onOpen($event)"></app-header>
    </div>
    <div *ngIf="showBuiesnessSettingsComponent">
        <app-buiesness-settings (close)="onClose($event)"></app-buiesness-settings>
    </div>
    <div class="central-box">
        <div>
            <app-service-stations-list></app-service-stations-list>
        </div>
        <div>
            <app-orders-list [isDelievery]="false"></app-orders-list>
        </div>
        <div>
            <app-orders-list [isDelievery]="true"></app-orders-list>
        </div>
    </div>
</div>